@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  max-width: 1500px;
  min-width: 300px;
  box-sizing: border-box;
}

.dropShadow {
  filter: drop-shadow(7px 7px 20px #584917);
}
.customFont {
  font-family: 'Orbitron', sans-serif !important;
}


@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}
